:root {
    font-size: 14px;
    font-family: 'Roboto', serif;
    --primary: rgba(33, 21, 252, 1);
    --secondary: rgba(240, 252, 21, 1);
}
a {
    color: rgba(0, 0, 0, 1);
}
body {
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Header */
header {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    max-height: 60px;
    border-bottom: 2px solid rgba(77, 77, 77, 0.659);
    background-color: rgba(254, 254, 254, 1);
}
    /* logo */
.logo {
    display: inline-block;
    align-self: center;
    font-size: 24px;
    font-weight: 900;
}
    /* navigation */
.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h-line {
    width: 25px;
    margin-bottom: 8px;
    border: 1px solid rgba(77, 77, 77, 1);
}
.line3 {
    margin-bottom: 0px;
}
    /* collapsible nav */
.top-nav {
    position: absolute;
    display: none;
    font-size: 1.1rem;
    top: 60px;
    width: 100vw;
    z-index: 1;
    background-color: rgba(46, 46, 46, 1);
}
.top-nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px 20px;
}
.top-nav li {
    margin: 20px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(254, 254, 254, 0.9);
}
.top-nav a {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: rgba(254, 254, 254, 0.9);
}
/* Main */

/* Showcase */
.showcase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 160px;
}
.showcase-container h1 {
    text-align: center;
    letter-spacing: -1px;
    font-size: 3rem;
    font-weight: 900;
    margin: 0px 20px;
}
.is-black {
    text-transform: uppercase;
}
    /* CTA */
.showcase-cta-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.showcase-cta {
    font-size: 1.7rem;
    margin: 20px 0px;
}
.button {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px 15px;
    border: 2px solid var(--primary);
    border-radius: 15px;
}
.cta-icon {
    width: 24px;
    padding-left: 10px;
}
    /* Showcase Image */
.showcase-img {
    min-width: 320px;
    margin-top: 25px;
}
/* Features */
.features-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.section-heading {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin: 0px;
}
    /* Feature Box */
.feature-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 0px 20px;
    margin-top: 35px;
    margin-bottom: 105px;
}
.mobile-img {
    width: 54px;
    margin: 0 auto;
    margin-top: 20px;
}
.desktop-img {
    display: none;
    width: 335px;
}
.first-feature {
    margin-top: 50px;
}
.feature-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}
.feature-description {
    font-size: 1.2rem;
    margin-top: 0px;
}
/* Email */
.email-container {
    display: flex;
    flex-direction: column;
}
.email-form {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    margin-top: 45px;
    margin-bottom: 130px;
    padding: 0px 15px;
    padding-top: 40px;
    padding-bottom: 26px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.email-container label {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1rem;
    opacity: 75%;
}
.email-container input {
    font-size: 1rem;
    padding: 10px 15px;
}
#message {
    min-height: 120px;
    padding: 10px 15px;
}
.email-button {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0px auto;
    margin-top: 20px;
    border: 2px solid rgba(197, 197, 197, 1);
    color: rgba(255, 255, 255, 1);
    background-color: var(--primary);
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 70px 20px 0px;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgb(52, 52, 55);
}
footer section {
    margin-top: 30px;
}
.footer-section-heading {
    font-size: 1.3rem;
    margin-top: 0px;
    margin-bottom: 20px;
}
    /* Hammer */
.hammer {
    margin-top: 0px;
}
.hammer a, .more a {
    color: rgba(255, 255, 255, 0.65);
    line-height: 24px;
    font-size: 1.1rem;
}
.hammer-nav {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
    /* Social */
.social-box {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.6;
}
.social a {
    display: inline-block;
    color: rgba(53, 53, 55, 1);
    margin-right: 20px;
}
.social-icon {
    width: 30px;
}
    /* More */
.more {
    margin-bottom: 80px;
}
.more-nav {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}
    /* Copy */
.copy {
    text-align: center;
    font-size: 12px;
    opacity: 1;
    margin: auto;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgb(52, 52, 55);
}
/* 425px Body */
@media all and (min-device-width: 425px) {
    body {
        position: static;
    }
}
/* TABLET */
@media all and (min-device-width: 768px) {
    header {
        padding: 0px 45px;
        min-height: 80px;
    }
    .logo {
        font-size: 2rem;
        margin: 0px;
    }
    .burger {
        display: none;
    }
    .top-nav {
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        top: auto;
        width: 100%;
        height: 80px;
        background-color: rgba(0, 0, 0, 0);
        z-index: 0;
    }
    .top-nav ul {
        display: flex;
        padding: 0px;
    }
    .top-nav li {
        margin: 0px 0px 0px 30px;
        padding: 0px;
    }
    .top-nav a {
        color: rgba(0, 0, 0, 1);
    }
    /* Showcase */
    .showcase-container {
        flex-direction: row;
        padding: 100px 45px 160px;
    }
    .showcase-cta-container {
        width: 220px;
        margin: 25px 0px;
        justify-content: flex-start;
        align-items: center;
    }
    .showcase-container h1 {
        font-size: 3.5rem;
        text-align: left;
        margin: 0px;
    }
    .showcase-img {
        width: 360px;
        margin: 0px;
    }
    /* Features */
    .section-heading {
        font-size: 2.5rem;
    }
    .feature-box {
        flex-direction: row;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 70px;
        padding: 0px 45px;
    }
    .feature-copy {
        padding: 0px;
    }
    .is-reverse {
        flex-direction: row-reverse;
    }
    .is-aligned-left {
        text-align: left;
    }
    .is-aligned-right {
        text-align: right;
    }
    .feature-title {
        font-size: 2rem;
    }
    .feature-description {
        font-size: 1.5rem;
    }
    .mobile-img {
        display: none;
    }
    .desktop-img {
        display: inline-block;
    }
    /* Email */
    .email-form {
        width: 60%;
        margin: auto;
        margin-top: 45px;
        margin-bottom: 140px;
    }
    /* Footer */
    footer {
        flex-direction: row;
        padding: 70px 45px;
    }
    .hammer, .social, .more {
        align-self: flex-start;
        margin: 0px 90px 0px 0px;
    }
}
/* Laptop */
@media all and (min-device-width: 1024px) {
    /* Header */
    header {
        padding: 0px 100px;
    }
    .logo {
        font-size: 2.3rem;
    }
    .top-nav a {
        font-size: 1.3rem;
    }
    /* Showcase */
    .showcase-container {
        padding: 180px 100px 200px;
    }
    .showcase-cta-container {
        width: 240px;
    }
    .showcase-cta {
        font-size: 2rem;
        width: 4004px;
    }
    .showcase-container h1 {
        font-size: 4.5rem;
    }
    .showcase-img {
        width: 555px;
    }
    /* Feature */
    .section-heading {
        font-size: 3.5rem;
    }
    .feature-box {
        margin: 100px 100px 200px;
    }
    .feature-copy {
        width: 50vw;
    }
    .feature-title, .feature-description {
        width: 80%;
    }
    .feature-title {
        font-size: 2.7rem;
    }
    .feature-description {
        font-size: 2rem;
    }
    .flex-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .desktop-img {
        width: 530px;
    }
    /* Email */
    .email-container {
        width: 80%;
        margin: 0px auto;
    }
    .email-container label {
        font-size: 1.4rem;
    }
    .email-form {
        padding: 60px 30px;
    }
    .email-container input, #message {
        font-size: 1.3rem;
    }
    /* Footer */
    footer {
        padding: 70px 100px;
    }
}
