/* 425px */
@media all and (min-device-width: 425px) {
    :root {
        font-size: 16px;
    }
    body {
        position: static;
    }
    /* Features */
    .mobile-img {
        width: 81px;
    }
    .feature-copy {
        padding: 20px 35px;
    }
    /* Email */
    .email-container {
        padding: 0px 35px;
    }
    #message {
        font-size: 1rem;
    }
    /* Footer */
    footer {
        font-size: 14px;
        padding: 70px 35px 0px;
    }
}
